<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <h1>{{message}}</h1>
            <label>The H1 is a 2 way data:</label><input type="text" v-model="message"><br>
            <i>Date via computed method: </i><b>{{dateNow}}</b><br>
            <span title="hoverText" v-if="isVisible">Hover me</span>
            <div>
                <button @click="addSampleItems" :disabled="isDisabled">Add samples to list</button>
                <ol>
                    <sample-list v-for="item in items" :text="item.text" :key="item.id"></sample-list>
                </ol>
            </div>
        </div>
    </div>
    <script>
        Vue.component('sample-list', {
            data: function() {
                return { 
                    ownText: "Inside" 
                }
            },
            props: ['text'],
            template: '<li>From parent: {{ text }} - From within component: {{ ownText }}</li>'
        });

        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hi Vue of Arshad',
                hoverText: 'This is the text when hovered',
                isVisible: true,
                items: [{
                        id: 1,
                        text: 'First item'
                    },
                    {
                        id: 2,
                        text: 'Second item'
                    },
                    {
                        id: 3,
                        text: 'Third item'
                    }
                ],
                isDisabled: false
            },
            methods: {
                addSampleItems: function () {
                    this.items.push({
                        text: 'Something'
                    });
                }
            },
            computed: {
                dateNow: function () {
                    return Date.now();
                }
            }
        });
    </script>
</body>

</html>